* {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    
}

body {
    overflow-x: hidden;
    background-color: var(--mid-blue);
 
}


:root {
    --dark-blue: #0e1a40;
    --mid-blue: #222f5b;
    --grey: #5d5d5d;
    --tan: #946b2b;
    --black: #000000;
    --whiteSmoke: #F5F5F5;
}

nav {
    text-align: center;
    margin: 0 auto;
}

nav ul li {
    margin-bottom: 2rem; 
}

nav ul li a {
    color: var(--grey);
    font-size: 5rem;
}

nav ul li a:hover {
    text-decoration: none;
    color: var(--dark-blue);

}

#about-click {
    margin-top: 6rem;
}

.typed-cursor.typed-cursor--blink {
    animation-iteration-count: 3 !important;
    opacity: 0;
}


.fas.fa-angle-double-down {
    color: var(--grey);
}

#about {
    background-color: var(--grey);
}

#portfolio {
    background-color:var(--black);
}

#skills {
    background-color:var(--tan);
}

#experience {
    background-color:var(--dark-blue);
}

#about-h1 {
    color: var(--mid-blue);
    text-align: center;
    font-size: 4rem;
    margin-bottom: 5%;
    margin-top: 5%;
}

.fas.fa-angle-double-down {
    color: var(--mid-blue);
    margin-left: 49%;
    font-size: 50px;
    margin-top: 2%;
    transition: all .3s ease-in-out;
}

.fas.fa-angle-double-down:hover {
    transform: scale(1.3);
}

h2 {
    text-align: center;
    margin-bottom: 5%;
    color: var(--mid-blue);
}

 .about-p {
    text-align: center;
    color: var(--whiteSmoke);
}

 #testing {
     color: white;
 }