* {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: var(--mid-blue);
 
}


:root {
    --dark-blue: #0e1a40;
    --mid-blue: #222f5b;
    --grey: #5d5d5d;
    --tan: #946b2b;
    --black: #000000;
    --whiteSmoke: #F5F5F5;
}

nav {
    text-align: center;
    margin: 0 auto;
}

nav ul li {
    margin-bottom: 2rem; 
}

nav ul li a {
    color: var(--grey);
    font-size: 5rem;
}

nav ul li a:hover {
    text-decoration: none;
    color: var(--dark-blue);

}

#about-click {
    margin-top: 6rem;
}

.typed-cursor.typed-cursor--blink {
    animation-iteration-count: 3 !important;
    opacity: 0;
}

.fas.fa-angle-double-up {
    margin-left: 49%;
    font-size: 50px;
    margin-top: 2%;
    transition: all .3s ease-in-out;
}

.fas.fa-angle-double-up:hover {
     transform: scale(1.3);
}

.fas.fa-angle-double-down:hover {
    transform: scale(1.3);
}

.fas.fa-angle-double-down {
    margin-left: 49%;
    font-size: 50px;
    margin-top: 11%;
    transition: all .3s ease-in-out;
}

#arrow-click-down-about {
    color: var(--mid-blue);
    
}

#arrow-click-up-about {
    color: var(--mid-blue);
  
}

#arrow-click-down-port {
    color: var(--black);
}

#arrow-click-up-port {
    color: var(--black);
}

#arrow-click-up-skills {
    color: var(--whiteSmoke);
}

#arrow-click-down-skills {
    color: var(--whiteSmoke);
}

#arrow-click-up-experience {
    color: var(--dark-blue);
}



#about {
    background-color: var(--grey);
}

#portfolio {
    background-color:var(--tan);
}

#skills {
    background-color:var(--black);
}

#experience {
    background-color:var(--whiteSmoke);
}

.all-h1-style {
 text-align: center;
    font-size: 4rem;
    margin-bottom: 5%;
    margin-top: 5%;
}

#about-h1 {
    color: var(--mid-blue);
  
}

#port-h1 {
    color: var(--black);
 }

#skills-h1 {
    color: var(--whiteSmoke);
}

#experience-h1 {
    color: var(--dark-blue);
}


.port-h3 {
    text-align: center;
    color: var(--black);
    margin-bottom: 5%;
}

.about-p {
    text-align: center;
    color: var(--whiteSmoke);
    margin: 5%;
  
}

#photo-headshot {
    height: 300px;
    padding-left: 29%;
}
.nested-port-row {
    margin-left: 12%;
}


.port-img {
    height: 100%;
    width: 100%;
}

div.card {
    margin-bottom: 20%;
}

